* {
    margin: 0;
}

.SoFASA {
    color: orangered;
    font-size: 15vw;
    text-align: center;
}

nav ul {
  list-style-type: none;
  position:fixed;
  display: inline-block;
  right: 10px;
}

nav li {
  float: left;
  padding: 1vw;
  align-content: center;
}

circle {
  fill:rgba(178, 194, 119, 0.712)
}

.about {
  position: fixed;
  bottom: -2px;
  text-align: center;
  left: 50%;
  transform: translate(-50%,-50%);
  color: rgba(112, 105, 44, 0.712);
  animation: glow 2s cubic-bezier(0.43, -0.29, 0.18, 1.74) infinite alternate-reverse}


@-webkit-keyframes glow {
  0% {
    text-shadow: 0 0 10px rgb(58 32 11 / 97%), 0 0 30px rgb(169 38 38), 0 0 70px rgb(161 100 0);
}
100% {
    text-shadow: 0 0 20px rgb(68 6 6), 0 0 44px rgb(175 94 34 / 92%), 0 0 80px rgb(22 14 2);
}
}

/*parallax stuff*/
.parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
  }

    .parallax__group {
    position: relative;
    height: 50%; 
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

    .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
     .parallax__group {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
  }

     .parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
  }

    .parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
  }